<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.FriendMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Friend" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="f_type" property="fType" jdbcType="INTEGER" />
    <result column="fname" property="fname" jdbcType="VARCHAR" />
    <result column="ftel" property="ftel" jdbcType="VARCHAR" />
     <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
  </resultMap>

  
<!--   <sql id="Base_Column_List" >
    fid, f_type, fname, ftel,age, sex
  </sql> -->
		<!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" resultType="com.example.demo.entity.Friend" parameterType="Integer">
    	select * from friend where fid = #{fid,jdbcType=INTEGER}
    </select>
    	<!-- 插入 -->
  <insert id="insert" parameterType="com.example.demo.entity.Friend" >
    insert into friend (fid, f_type, fname, 
      ftel, age, sex)
    values (#{fid,jdbcType=INTEGER}, #{fType,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, 
      #{ftel,jdbcType=VARCHAR},#{age,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR})
  </insert>
  
  	<!-- 动态插入 -->
    <insert id="insertSelective" parameterType="com.example.demo.entity.Friend" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="fType != null" >
        f_type,
      </if>
      <if test="fname != null" >
        fname,
      </if>
      <if test="ftel != null" >
        ftel,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fType != null" >
        #{fType,jdbcType=INTEGER},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftel != null" >
        #{ftel,jdbcType=VARCHAR},
      </if>
       <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>	
  
  <!-- 查询所有 -->
  	<select id="selectAllFriend" resultMap="BaseResultMap">
  		select * from friend
  	</select>
  
  <!-- 删除某个 -->
  	<delete id="deleteByPrimaryKey" parameterType="Integer">
  			delete from friend where fid = #{fid,jdbcType=INTEGER}
  	</delete>

</mapper>